* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl-500.ttf');
}

@font-face {
  font-family: 'Museo Sans Cyrl Bolt';
  src: url('../fonts/MuseoSansCyrl-700.ttf');
  font-weight: bold;
}

a {
  color: #6933dc;
}

body {
  font-family: 'Museo Sans Cyrl', sans-serif;
  overflow-x: hidden;
  color: #333333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.big-title {
  font-family: 'Museo Sans Cyrl Bolt', sans-serif;
  font-size: 54px;
  line-height: 65px;
}

.big-title span {
  color: #6933dc;
}

.common-title {
  font-family: 'Museo Sans Cyrl Bolt', sans-serif;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}

.common-title span {
  color: #6933dc;
}

.header {
  padding: 42px 0 40px;
  border-bottom: 1px solid #dcdcf3;
}

.button {
  border-radius: 6px;
  padding: 14px 35px;
  background: #6933dc;
  font-size: 17px;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: 0.4s ease;
  text-decoration: none;
}

a.button {
  display: inline-block;
}

.button:disabled {
  background-color: #e2dfe7;
  cursor: not-allowed;
}

.button:hover {
  background: #3f1e85;
}

.button-transparent {
  background: transparent;
  color: #6933dc;
  border: 1px solid #6933dc;
}

.button-transparent:hover {
  background: #6933dc;
  color: #ffffff;
}

.button-transparent:disabled {
  background: transparent;
  color: #e2dfe7;
  border: 1px solid #e2dfe7;
}

input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid #6933dc;
  border-radius: 50%;
  margin: 0 13px 0 0;
  transform: translateY(2px);

  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type='radio']::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50px;
  box-shadow: inset 10px 10px #6933dc;
  transition: 0.2s ease transform;
  transform: scale(0);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

.footer {
  text-align: center;
  padding: 40px 0;
  font-size: 13px;
  text-align: center;
  color: #dcdcf3;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-image {
  margin-right: 5px;
}

.profile-user {
  font-size: 18px;
  line-height: 18px;
}

.profile-logout {
  font-size: 12px;
  line-height: 12px;
}

.profile-info a {
  text-decoration: none;
}